@charset "UTF-8";

div #date {
	display: inline-flex;
	padding: 4pt;
	margin: 4% -.6%;
	width: 21%;
	
}

div #date input::placeholder { color: #bebebe; }

#date input {
	border: none;
	width: 40pt;
	height: 26pt;
}

body{
 background-color: #fafafa;
}

.register{                        /*estrutura da página */
 width: 70%;
 margin-top: 10%;
 margin-left: 30% ;
}
.register label{                  /* texto do corpo todo */
	font-size: 20px;   
}
